/*   Fundo da Página   */
.home-background {
  background: none !important;  
  background-color: #fff !important;  
}

/*   HEADER   */
.home-search-container {
  width: 110%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid red;
}

.home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
  width: 130%;
  padding: 10px;
  margin-top: 12px;
  margin-left: -41px;
  gap: 25px;
}

.home-header-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-header-icon:nth-child(2){
  margin-left: -40px;
  
}
.home-header-icon:nth-child(3){
   margin-left: 65px;
 margin-top: 10px;
}
.home-header-icon:nth-child(5){
   margin-left: 40px;
}

.logo-text {
  font-size: 18px;
  margin-left: -35px;
  color: black;
}

.home-title {
  color: black;
}

/*   Relógio   */
.home-time {
  font-size: 15px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 15px;
  color: black;
}

/*   Título   */
.home-title {
  font-size: 2rem;
}

/*   Barra de Status (Ícones do Dispositivo)   */
.home-status-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid green;
}

/*   Ícones do Dispositivo   */
.home-icon {
  margin-top: 5px;
  margin-right: 0px;
  display: flex;
}

/* MAIN */

.home-main {
  max-width: 600px;
  width: 320px;
  border: 1px solid black;
}

.home-search-section  p, h1 {
  color: black;
}

/*   Rodapé   */
.home-footer {
  
}