/*   Fundo da Página   */
.home-background {
  background: none !important;  
  background-color: #fff !important;  
}

/*   HEADER   */
.home-search-container {
  width: 350px;
  max-width: 600px;
  margin: 0 auto;
  transform: translate(223px, -170px);
}

.home-search-container input {
  padding: 15px;
  margin-top: 20px;
  width: 350px;  
  border-radius: 15px;
  margin-bottom: 70px;
}

.home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
  width: 135%;
  padding: 10px;
  margin-top: 12px;
  margin-left: -81px;
  gap: 25px;
}

.home-header-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-header-icon:nth-child(2){
  margin-left: -20px;
}

.home-header-icon:nth-child(3){
   margin-left: 65px;
   margin-top: 10px;
}

.home-header-icon:nth-child(5){
   margin-left: 40px;
}

.logo-text {
  font-size: 18px;
  margin-left: -75px;
  color: black;
}

.home-title {
  color: black;
}

.search-input {
  width: 100%;  
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  opacity: 1.0;
}

.search-input:focus {
  border-color: #21d124;
}

/*   Relógio   */
.home-time {
  font-size: 15px;
  font-weight: bold;
  margin-left: 0px;
  margin-top: 15px;
  color: black;
}

/*   Título   */
.home-title {
  font-size: 2rem;
}

/*   Barra de Status */
.home-status-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

/*   Ícones do Dispositivo   */
.home-icon {
  margin-top: 5px;
  margin-right: 0px;
  display: flex;
}

/* MAIN */

.home-main {
  max-width: 350px;
  width: 100%;
  border: 1px solid black;
}

.home-search-section p, h1 {
  color: black;
}

.search-text {
  text-align: left;
}

.break-word {
  display: block;  
}

/* Seção de Produtos */
.home-products-section {
  background-color: #f0f0f0;  
  max-width: 1200px;
  padding: 20px;
  border-radius: 28px;
  width: 145%;  
  
  transform: translate(-175px, 500px);
}

.home-products-container {
  max-width: 1200px;  
  right: 0;
  width: 1600px;
  margin: 0 auto;
   
}

/*   RODAPÉ   */
.home-footer {
  
}
