/* Reset de estilo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Garante que o body cubra a altura da tela */
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 120px;
  color: white;
}

header h1 {
  margin: 0;
  margin-bottom: 10px; /* Espaçamento abaixo do h1 */
  font-size: 70px;
}

header p {
  margin: 0;
  margin-top: 10px; /* Espaçamento acima do p */
  font-weight: bold;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
}


body {
  font-family: 'Dm sans', Arial, Helvetica, sans-serif;
  color: white;
  background: #242424;
  overflow-x: hidden;
  background-image: url(/public/login-background.svg);
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-size: cover; /* Faz a imagem cobrir toda a área disponível */
  background-position: center; /* Centraliza a imagem */
  display: flex; /* Adiciona flexbox para alinhar o conteúdo */
  flex-direction: column; /* Mantém o layout vertical */
  min-height: 100vh; /* Garante que o fundo cubra ao menos toda a tela */
}

main {
  flex: 1; /* Faz o conteúdo principal expandir para preencher o espaço restante */
  padding: 20px;
  display: flex; /* Alinha conteúdo interno */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

footer {
  text-align: center;
  padding: 10px;
  background: transparent;
  color: white;
}

.time {
  margin-left: 30px;
}

.icons {
  margin-right: 10px;
}
 
