/* RESET DE ESTILO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;  
  margin: 0;
  overflow: hidden;  
}

/* ESTILOS GERAIS */
body {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  color: white;
  background: #242424;
  background-image: url(/public/login-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;  
  min-height: 100vh;  
  justify-content: flex-start; 
  align-items: center;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;  
  margin-bottom: 180px;  
}

header h1 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 70px;
  color: white;
}

header p {
  margin: 0;
  margin-top: 10px;
  font-weight: bold;
}

/* STATUS BAR */
.status-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  position: absolute;
  top: 0;
}

.time {
  margin-left: 30px;
  margin-top: 15px;
}

.icons {
  margin-top: 15px;
  margin-right: 10px;
  display: flex;
}

/* ÁREA PRINCIPAL */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  padding: 20px;
}

.login-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

 
.form-group {
  position: relative;
  margin-bottom: 20px;
  margin-right: -25px;
  margin-left: -25px;
}

.form-group input {
  width: 105%;  
  max-width: 500px;  
  padding: 20px;
  padding-left: 50px;
  padding-right: 80px;  
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
  margin: 0 auto;  
}

.form-group img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.login-button {
  width: 120%; 
  max-width: 500px;  
  padding: 20px;
  background-color: #0ACF83;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 auto;  
  margin-right: -25px;
  margin-left: -25px;
}

 
.login-button:hover {
  background-color: #555;
}

.forgot-password {
  font-size: 15px;
  text-align: center;
  margin-bottom: 50px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.google-sign-in {
  margin-top: 15px;
  margin-bottom: 75px;
  text-align: center;
}

/* RODAPÉ */
footer {
  text-align: center;
  padding: 10px;
  background: transparent;
  color: white;
  margin-top: auto;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 18px;
}

.signup-link a {
  color: #0ACF83;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.signup-link a:hover {
  color: rgb(0, 104, 2);
  text-decoration: none;
}

.signup-button {
  margin-top: 69px;  
}

